@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #95e6e7cb; */
  background: rgb(133,132,149);
  /* background: #f5f5f4; */
  /*background: linear-gradient(86deg, rgba(133,132,149,1) 0%, rgba(72,96,111,1) 50%, rgba(66,70,122,1) 100%);*/
  /* background-color: #5570aa; */
  color: black;
  height: 100%;
}

input {
  background-color: white;
}
